* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  height: 100%;
}

/* transection page */
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
  margin-bottom: 10px;
}
/* transection page */

/* antd icons */

.switch-icons {
  border: 1px solid rgba(0, 0, 0, 0.677);
  border-radius: 5px;
  padding: 10px 15px;
}

.anticon svg {
  font-size: 20px;
  cursor: pointer;
}

.active-icon {
  color: black;
}
.inactive-icon {
  color: gray;
}

.filter-tab .ant-select-selector {
  width: 150px !important;
}

.login-page {
  height: 100vh !important;
  width: 100vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login-page h1 {
}
.login-form {
  background-color: #b9bcccb6;
  margin-left: -15px;
  padding: 30px;
}

.login-form h1 {
  text-align: center;
  font-weight: bold;
  margin: 30px;
  color: #344265;
}

.login-form .ant-form-item-label label {
  color: #344265 !important;
}
.login-form button {
  background-color: #344265;
  color: white;
  outline: none;
}
.login-form button:hover {
  background-color: black;
  color: white;
}
.login-form a {
  color: #344265 !important;
}

.login-form a:hover {
  color: black !important;
}

.navbar {
  background-color: #6f4e3742 !important;
}
.navbar .navbar-brand {
  color: #6f4e37 !important;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar h6 {
  margin-top: 0px;
  margin-right: 20px;
}

.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}
.register-form {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  width: 30%;
}

.register-form h2 {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #b87333;
}

.register-form a {
  color: #b87333 !important;
}

.register-form a:hover {
  color: black !important;
}

.register-form button {
  background-color: #b87333;
  color: white;
}

.register-form input:focus {
  border: 1px solid #b87333 !important;
  color: #b87333;
}
.register-form button:hover {
  background-color: black;
  color: white;
}
